template(name="layout")

	+header

	main#main
		+yield

	+footer


template( name="header" )

	if currentUser

		.nav_cta( class="#{active}" )
			.line
			.line
			.line

		header#nav( class="#{active}" )

			ul
				li.link: a( href="{{ pathFor 'home' }}" ) HOME
				li.link: a( href="{{ pathFor 'settings' }}" ) SETTINGS


template( name="footer" )

	footer#footer