template(name="layout")

	if currentUser

		+header

	.background

	main#main

		+yield


template( name="header" )

	.nav_cta( class="#{active}" )
		.line
		.line
		.line

	header#nav( class="#{active}" )

		ul
			li.link: a( href="{{ pathFor 'home' }}" ) HOME
			li.link: a( href="{{ pathFor 'settings' }}" ) SETTINGS
			li.link: a( href="{{ pathFor 'races' }}" ) FIND A RACE