template(name="layout")

	.wrapper
		.background

	if currentUser

		+header

	.container

		+yield

template( name="header" )

	if hasUsername

		.top-bar

			unless routeIsHome

				.back
					.arrow
						.line
						.line

			.nav_cta( class="#{active}" )
				.line
				.line
				.line

	header#nav( class="#{active}" )

		ul
			li.link: a( href="/" ) HOME
			li.link: a( href="/races" ) FIND A RACE
			li.link: .logout LOGOUT