@import 'nib'

#home
	
	.fa-facebook
		font-size: 30px
		padding  : 20px
		color    : black
		margin   : 0 1px
		cursor   : pointer
		
	.user
	.stats
		margin-bottom: 20px
		
	.user
		img
			border-radius: 999px
			width        : 150px
		
	p
		font-weight    : bold
		text-decoration: underline
		margin-bottom  : 10px
		
	span
		display: block
		margin : 5px
		
	.update-score
		//