@import 'nib'

#home
	absolute  : top left
	width     : 100%
	height    : 100%
	text-align: center
		
	.user
		.name
			display         : block
			padding         : 15px
			text-transform  : uppercase
			color           : white
			margin-bottom   : 10px
			font-size       : 20px
			
		img
			border-radius: 999px
			width        : 33.3%
			
	.users
		margin-top: 20px
			
	.race
	.login
		absolute        : bottom left
		width           : 98%
		padding         : 40px 0
		color           : white
		font-size       : 20px
		background      : linear-gradient( top, #111, #222, #111 )
		margin          : 1%
		
	.login
		background: linear-gradient( top, #355088, #3B5998, #355088 )