@import 'nib'

#home
	absolute  : top left
	width     : 100%
	height    : 100%
	text-align: center
	
	.background
		absolute           : top left
		width              : 100%
		height             : 100%
		background-image   : url('images/bkg.jpg')
		background-size    : cover
		background-position: 48%
		z-index            : -1
		
	.user
		.name
			display         : block
			background-color: #111
			padding         : 15px
			text-transform  : uppercase
			color           : white
			margin-bottom   : 10px
			font-size       : 20px
			
		img
			border-radius: 999px
			width        : 100px
			
	.race
	.login
		absolute        : bottom left
		width           : 98%
		padding         : 40px 0
		color           : white
		font-size       : 20px
		background      : linear-gradient( top, #111, #222, #111 )
		margin          : 1%
		
	.login
		background: linear-gradient( top, #355088, #3B5998, #355088 )
		
	#stats
		text-align: left
		padding: 20px
		
		div
			margin: 10px 0