@import 'nib'

#leaderboard
	
	h1
		padding         : 15px
		text-transform  : uppercase
		color           : white
		font-size       : 20px
		text-align      : center
		
	ul.users
		
		li.user
			position     : relative
			padding      : 8px 0
			border-bottom: 1px solid rgba(0,0,0,0.1)
			
			&:nth-child(odd)
				background-color: rgba(0,0,0,0.3)
			
			&:nth-child(even)
				background-color: rgba(0,0,0,0.1)
				
			a
				display: block
			
			img
				width         : 30px
				border-radius : 999px
				vertical-align: middle
				margin-right  : 5px
			
			span
				text-transform: uppercase
				vertical-align: middle
				
			.profile
				display    : inline-block
				margin-left: 20px