@import 'nib'

#race
	
	h1
		display         : block
		background-color: #111
		padding         : 15px
		text-transform  : uppercase
		color           : white
		font-size       : 20px
		text-align      : center
		
	.stats
		position     : relative
		border-bottom: 4px solid #111
		font-size    : 12px
		text-align   : center
		
		.speed
		.accuracy
			display: inline-block
			width  : 49%
			padding: 10px 0
			
		.splitter
			absolute        : top left 50%
			width           : 4px
			height          : 100%
			background-color: #111
		
	ul.users
		
		li.user
			padding      : 10px 0
			border-bottom: 1px solid #111
			
			&:nth-child(odd)
				background: linear-gradient( top, rgba(0,0,0,0.2), rgba(0,0,0,0.1), rgba(0,0,0,0.2) )
				
			&:nth-child(even)
				background: linear-gradient( top, rgba(0,0,0,0.1), rgba(0,0,0,0.2), rgba(0,0,0,0.1) )
			
			img
				width         : 30px
				border-radius : 999px
				vertical-align: middle
				margin-right  : 5px
			
			span
				text-transform: uppercase
				
			.profile
			.distance
				display: inline-block
				
			.profile
				margin-left: 20px
				
			.distance
				float       : right
				margin-top  : 6px
				margin-right: 20px
	
	.map
		absolute: bottom 110px left 1%
		width   : 98%
		height  : 140px
		overflow: hidden
		
		&.loaded
			#map_canvas
				transform: translateY(0)

		#map_canvas
			width     : 100%
			height    : 100%
			transform : translateY(100%)
			transition: transform 0.75s ease-in-out
	
	.join-race-btn
		absolute  : bottom left
		width     : 98%
		padding   : 40px 0
		color     : white
		font-size : 20px
		background: linear-gradient( top, #111, #222, #111 )
		margin    : 1%
		text-align: center