@import 'nib'

#races
	overflow: scroll
	-webkit-overflow-scrolling: touch
	
	h1
		padding         : 15px
		text-transform  : uppercase
		color           : white
		font-size       : 20px
		text-align      : center
	
	ul.races
		
		li.race
			background     : linear-gradient( top, rgba(0,0,0,0.9), #222, rgba(0,0,0,0.9) )
			color          : white
			width          : 98%
			margin         : 3px 1%
			text-align     : center
			letter-spacing : 2px
			display        : flex
			flex-flow      : column wrap
			justify-content: center
			align-items    : center
			box-shadow     : 0 0 1px 0 black
			
			span
				display: block
				
				&.time
					margin-bottom : 10px
					letter-spacing: 8px
					
				&.competitors
					font-size    : 10px
					margin-bottom: 10px
					color        : lightskyblue
				
				&.countdown
					font-size: 10px
					color    : greenyellow
				