@import 'nib'

#races
	
	ul.races
		margin-top: 50px
		
		li.race
			background: linear-gradient( top, #111, #222, #111 )
			color: white
			width: 98%
			padding: 20px 0
			margin: 0 1%
			text-align: center