@import 'nib'

#settings
	
	.stats
		margin-bottom: 20px
		
		span
			display: block
			
	.skill-level
		span
			display: block
			
		select
			margin-bottom: 0
		
	.score
		margin-bottom: 20px
		
		span
			display: block
			
	.logout
		margin: 20px 0