template( name="home" )

	#home.page

		if currentUser

			if noUsername

				form.username

					.enter-name
						h1 WELCOME {{ currentUser.profile.firstName }}!
						span PLEASE CREATE A USERNAME BELOW

					.name-criteria
						span THIS WILL BE THE NAME YOUR COMPETITORS WILL KNOW YOU AS.
						span PLEASE USE BETWEEN 6 AND 12 CHARACTERS.

					input( type="text" name="text" maxlength="12" )

					button.disabled( type="submit" ).save-name SAVE

				.alert-box

			else

				.user
				
					.name
						span {{ currentUser.profile.username }}
					
					//- .profile-picture
					//- 	img( src="{{ currentUser.profile.image }}" )

					.information

						.rank
							| RANK
							span {{ rank }}

						.picture
							img( src="{{ currentUser.profile.image }}" )

						.points 
							| POINTS
							span {{ currentUser.profile.points }}

					if userIsInRaces

						h2.your-races YOUR RACES

						ul.users-races
							
							each usersRaces

								li.users-race

									a( href="races/{{ _id }}" ) {{ raceTime }}:00

				a.race( href="{{ pathFor 'races' }}" ) FIND A RACE
		
		else

			.login

				span LOGIN WITH FACEBOOK

	