template( name="home" )

	#home.page

		if currentUser

			.user
				
				.name
					span {{ currentUser.profile.name }}
				
				.profile-picture
					img( src="{{ currentUser.profile.image }}" )


			.race
				span FIND RACE
		
		else

			+login

template( name="login" )

	.login

		span LOGIN WITH FACEBOOK