template( name="home" )

	#home.page

		if currentUser

			h1 LOGGED IN

			.user 
				p USER
				img( src="{{ currentUser.profile.image }}" )
				span {{ currentUser.profile.name }}

			.stats 
				p STATS
				span accuracy: {{ currentUser.profile.coords.accuracy }}
				span lat: {{ currentUser.profile.coords.latitude }}
				span lon: {{ currentUser.profile.coords.longitude }}

				if currentUser.profile.coords.speed
					span speed: {{ currentUser.profile.coords.speed }}
		
		else

			+login

template( name="login" )

	i.fa.fa-facebook