template( name="home" )

	#home.page

		.background

		if currentUser

			.user
				
				.name
					span {{ currentUser.profile.name }}
				
				.profile-picture
					img( src="{{ currentUser.profile.image }}" )


			.race
				span FIND RACE
		
		else

			//- +login

			#map_canvas

			#stats
				.accuracy
				.heading
				.lat
				.lon
				.speed
				.distance
				.index

template( name="login" )

	.login
		span LOGIN WITH FACEBOOK