template( name="home" )

	#home.page

		if currentUser

			+user

			.users ACTIVE USERS: {{ active_users }}

			if noNickname

				+nickname

			+find_race
		
		else

			+login

template( name="nickname" )

	form.nickname

		.enter-name PLEASE CREATE A USERNAME

		input( type="text" name="text" )

		button( type="submit" ).save-name SAVE

template( name="user" )

	.user
				
		.name
			span {{ currentUser.profile.nickname }}
		
		.profile-picture
			img( src="{{ currentUser.profile.image }}" )


template( name="find_race" )

	a.race( href="{{ pathFor 'races' }}" ) FIND A RACE


template( name="login" )

	.login

		span LOGIN WITH FACEBOOK