template( name="home" )

	#home.page

		if currentUser

			+user

			.users ACTIVE USERS: {{ active_users }}

			+find_race
		
		else

			+login


template( name="user" )

	.user
				
		.name
			span {{ currentUser.profile.name }}
		
		.profile-picture
			img( src="{{ currentUser.profile.image }}" )


template( name="find_race" )

	a.race( href="{{ pathFor 'races' }}" ) FIND A RACE


template( name="login" )

	.login

		span LOGIN WITH FACEBOOK