template( name="leaderboard" )

	#leaderboard.page

		h1 LEADERBOARD

		.info
			span RANK
			.splitter.first
			span USER
			.splitter.last
			span POINTS

		ul.users

			each users

				li.user

					.rank
						span {{ rank }}

					.profile
						span.name {{ profile.username }}

					.points
						span {{ profile.points }}

