template( name="race" )

	#race.page

		h1 {{ _id }}

		if userInRace

			.stats
				.accuracy ACCURACY: {{ accuracy }} METERS
				.splitter
				.speed SPEED: {{ speed }} KPH

		
		ul.users

			each competitors

				li.user

					if isUser

						a( href="{{ userUrl }}" )

							.profile
								img( src="{{ profile.image }}" )
								span.name {{ profile.name }}

							.distance {{ profile.distance }} km

							.arrow
								.line
								.line

					else

						.profile
							img( src="{{ profile.image }}" )
							span.name {{ profile.name }}

						.distance {{ profile.distance }} km


		if userInRace

			.map-container( class="{{ mapReady }}" )
				+googleMap( name="userMap" options=mapOptions )

			.join-race-btn LEAVE RACE

		else

			.join-race-btn JOIN RACE