template( name="race" )

	#race.page

		if raceLive

			h1 RACE LIVE

		else

			h1 {{ title }}:00

		if noUsers

			.no-users
				h2
					span THIS RACE HAS NO USERS YET
					span BE THE FIRST!

		if userInRace

			.stats
				.accuracy ACCURACY: {{ accuracy }} METERS
				.splitter
				.speed SPEED: {{ speed }} KPH
		
		ul.users

			each competitors

				li.user( class="{{ isCurrentUser }}" )

					.profile
						img( src="{{ profile.image }}" )
						span.name {{ profile.username }}

					if raceLive

						if userIsMoving

							.distance {{ profile.distance }} km

						if isUser

							.arrow
								.line
								.line

		if userInRace

			if raceLive

				.map-container
					+googleMap( name="userMap" options=mapOptions )

					.map-user
						.distance
							span DISTANCE: {{ currentUser.profile.distance }} km

			.join-race-btn LEAVE RACE

		else

			.join-race-btn JOIN RACE