template( name="races" )

	#races.page

		h1 CURRENT RACES

		.distance-selector
			.distance( data-distance="1" ).selected 1k
			.distance( data-distance="2" ) 2k
			.distance( data-distance="5" ) 5k
			.clear

		ul.races

			each races

				li.race( id="{{ _id }}" index="{{ index }}" )
					span.time {{ hours }}:00
					span.competitors COMPETITORS: {{ competitors }}
					span.countdown {{ countdown }}
					span.distance {{ length }}km