template( name="races" )

	#races.page

		h1 CURRENT RACES

		ul.races

			each races

				li.race( id="{{ _id }}" index="{{ index }}" )
					span.time {{ hours }}:00
					span.countdown {{ countdown }}