template( name="race" )

	#race.page

		h1 {{ _id }}

		if user_in_race

			.stats
				.accuracy ACCURACY: {{ accuracy }} METERS
				.splitter
				.speed SPEED: {{ speed }} KPH

		
		ul.users

			each users

				li.user

					.profile
						img( src="{{ profile.image }}" )
						span.name {{ services.facebook.first_name }}

					.distance {{ profile.distance }}


		if user_in_race

			.map: #map_canvas

			.join-race-btn LEAVE RACE

		else

			.join-race-btn JOIN RACE