template( name="race" )

	#race.page

		h1 {{ _id }}

		.stats
			.accuracy ACCURACY: {{ accuracy }} METERS
			.splitter
			.speed SPEED: {{ speed }} KPH
			.distance {{ distance }}

		+race_users

		+join_race


template( name="race_users" )

	ul.users

		each users

			li.user

				.profile
					img( src="{{ profile.image }}" )
					span.name {{ services.facebook.first_name }}

				.distance {{ profile.distance }}


template( name="join_race" )

	if user_in_race

		.map: #map_canvas

		.join-race-btn LEAVE RACE

	else

		.join-race-btn JOIN RACE