template( name="race" )

	#race.page

		if raceLive

			h1.race-live RACE LIVE

		else

			h1.countdown {{ title }}:00

		if noUsers

			.no-users
				h2
					span THIS RACE HAS NO USERS YET. JOIN USING THE BUTTON BELOW AND BE THE FIRST!

		if userInRace

			if raceLive

				.stats
					.accuracy ACCURACY: {{ accuracy }} METERS
					.splitter
					.speed SPEED: {{ speed }} KPH
		
		ul.users

			each competitors

				li.user( class="{{ isCurrentUser }}" )

					.profile
						img( src="{{ avatar }}" )
						span.name {{ profile.username }}

					if raceLive

						//- if userIsMoving

						.distance {{ profile.distance }} km

						if isUser

							.arrow
								.line
								.line

		if userInRace

			if raceLive

				.map-container
					+googleMap( name="userMap" options=mapOptions )

					.map-user
						.distance
							span DISTANCE: {{ currentUser.profile.distance }} km

			else

				.invite-friends-overlay
					
					ul.friends
						each friends
							li.friend( data-id="{{ _id }}" )
								span.name {{ profile.name }}

						li.friend: span.name JERRY PHILLIPS
						li.friend: span.name PETER CROUCH
						li.friend: span.name SIMON ZEBO
						li.friend: span.name BRIAN O'DRISCOLL
						li.friend: span.name PETER O MAHONY
						li.friend: span.name PAUL O CONNAL

					.send-invite-btn SEND INVITES

				.bottom-buttons

					.invite-friends-btn INVITE FRIENDS
					.join-race-btn LEAVE RACE

		else

			.join-race-btn.not-in-race JOIN RACE