template( name="settings" )

	#settings.page

		.stats 
			span accuracy: {{ currentUser.profile.coords.accuracy }}
			span lat: {{ currentUser.profile.coords.latitude }}
			span lon: {{ currentUser.profile.coords.longitude }}

			if currentUser.profile.coords.speed
				span speed: {{ currentUser.profile.coords.speed }}

		.score
			button.update-score increase score
			span score: {{ currentUser.profile.score }}

		.skill-level
			select
				option(value="easy") easy
				option(value="medium") medium
				option(value="hard") hard
				option(value="insane") insane

			span level: {{ currentUser.profile.skill_level }}

		button.logout logout