template( name="settings" )

	#settings.page

		//- .skill-level
		//- 	select
		//- 		option(value="easy") easy
		//- 		option(value="medium") medium
		//- 		option(value="hard") hard
		//- 		option(value="insane") insane

		//- 	span level: {{ currentUser.profile.skill_level }}

		//- button.logout logout

		#map_canvas

		#stats
			.accuracy
			.speed
			.distance
			.last_update
			.updates