head
	title Racer
	
	meta( name='viewport' content='width=device-width, initial-scale=1' )
	
	link( rel="icon" href="images/general/favicon.png" type="image/x-icon" )
	link( href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css' )

	script( src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.11.8/TweenMax.min.js" )

body
