head
	title Racer
	
	meta( name='viewport', content='width=device-width, initial-scale=1' )
	
	link( rel="icon" href="images/general/favicon.png" type="image/x-icon" )
	link( href='http://fonts.googleapis.com/css?family=Shadows+Into+Light|Bangers|Coming+Soon', rel='stylesheet', type='text/css' )

	script( src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.11.8/TweenMax.min.js" )
	script( src="https://maps.googleapis.com/maps/api/js?sensor=true" )
	script( src="https://google-maps-utility-library-v3.googlecode.com/svn/trunk/geolocationmarker/src/geolocationmarker-compiled.js" )

body
