@import url('http://fonts.googleapis.com/css?family=Oswald:400,300,700')
@import 'nib'

global-reset()
	
body
	-webkit-tap-highlight-color: rgba( 0,0,0,0 )
	-webkit-font-smoothing     : antialiased
	background-color           : #111
	font-family                : 'Oswald', sans-serif
	box-sizing                 : border-box

li
	list-style: none

a
	text-decoration: none
	color          : black
	
.wrapper
	absolute: top left
	width   : 100%
	height  : 100%
	z-index : -1
	overflow: hidden
	
.background
	width              : 100%
	height             : 100%
	background-image   : url('images/bkg.jpg')
	background-size    : cover
	background-position: 48%
	-webkit-filter     : blur(5px)
	transform          : scale(1.05)

.page
.container
	absolute: top left
	width   : 100%
	height  : 100%
	overflow: hidden
	
@keyframes slideInLeft
	0%
		transform: translateX(100%)
		
	100%
		transform: translateX(0)
		
.slideInLeft
	animation: slideInLeft 1s cubic-bezier( 0.23, 1, 0.32, 1 ) both
	
@keyframes slideInRight
	0%
		transform: translateX(-100%)
		
	100%
		transform: translateX(0)
		
.slideInRight
	animation: slideInRight 1s cubic-bezier( 0.23, 1, 0.32, 1 ) both
		